.profileCard {
  width: 90%;

  margin: 5rem 0 3rem;
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  justify-self: center;
  align-self: center;
}
@media (min-width: 1440px) {
  .profileCard {
    margin: 0;
    width: 80%;
    height: 83%;
    align-self: flex-start;
  }
}
