.timeContainer {
  background-color: var(--darkBlue);
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  color: var(--desaturatedBlue);
  border-radius: 1rem;
}
.time {
  cursor: pointer;
  all: unset;
  cursor: pointer;
}
.time:hover {
  color: white;
  transition: color 0.5s;
}
@media (min-width: 1440px) {
  .timeContainer {
    flex-direction: column;
    gap: 2rem;
    padding: 3.1rem 2.5rem;
  }
}
