@import './styles/Variables.css';

.Work {
  background-color: var(--lightOrange);
}
.Play {
  background-color: var(--softBlue);
}
.Study {
  background-color: var(--lightRed);
}
.Exercise {
  background-color: var(--limeGreen);
}
.Social {
  background-color: var(--violet);
}
.SelfCare {
  background-color: var(--softOrange);
}
